doctype html
html
  head
    title= title
    link(rel="icon" href="/images/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#highest
    nav 
      div#logo
        p 
          a(href='/') MembersOnly
      ul
        if currentUser
          if !currentUser.membership
            li 
              a(href='/join-club') Join the club
          else
            if !currentUser.admin
                a(href='/become-admin') Become an admin
          li 
            a(href='/new-post') New Post
          li
            a(href='log-out') Log Out
        else 
          li 
            a(href='/log-in') Log In
          li 
            a(href='/sign-up') Sign up
    block content
