/* css reset */
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */

:root {
  font-size: 20px;
  font-family: sans-serif;
  --gold-color: #FFD700;
  --black-color: #000000;
}

button {
  font-size: 1rem;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--black-color);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin-left: 1rem;
}

nav div#logo p a{
  color: var(--gold-color);
}

form {
  width: 50vw;
  max-width: 600px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

form input, form textarea {
  margin-bottom: 1rem;
}

div.container {
  position: absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
}

#errors {
  color: red;
}

@media (max-width: 600px){
  :root {
    font-size: 5vw;
  }
}